* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
.page{
  background-color: rgb(0, 0, 0);
}
.container {
  width: 100%;
  height: 100%;
  background-color: black;
}
.menu ul {
  display: flex;
  justify-content: flex-start;
  margin: 50px;
}
.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: white;
  cursor: pointer;
}
.logo img {
  width: 30px;
  margin-top: -7px;
  margin-right: 48px;
}
.active {
  color: aqua;
}
.sbscr-btn {
  display: flex;
  justify-content: flex-end;
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: azure;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#F64C72,#99738e), radial-gradient(circle at top left, #fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box,border-box;
}
.sbscr-btn span{
  display: block;
  padding: 8px 22px;
}
.banner{
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  color: #ffffff;
}
.dkzpic{
  width: 50%;
  float: right; 
}
.dkzpic img{
  width: 100%;
}
.site-text{
  width: 50%;
  float: left;
}
.site-text h1{
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
}
.site-text p{
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  color: #ffffff;
}
.socialbuttons{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 150px;
}
.footer{
  color: #ffffff;
}
.rog {
  width: 50%;
  float: right;
}
.rog img {
  width: 100%;
}
.msi {
  width: 50%;
  float: right;
}
.msi img {
  width: 100%;
}
.logi {
  width: 300px;
  float: inline-start;
}
.logi img {
  width: 50px;
  height: 50px;
}
.coderacademyimg {
  display: flex;
  width: 100%;
  float: inline-start;
}