title {
    color: white;
}
h1 {
        color:#fdfbfb;
        display: flexbox;
        position: relative;
        background-color: #faf8f8;
    
     }

header {
    color: white;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: flex-end;
}
.navtab {
    padding: 0 10px;
    padding-bottom: 30px;
    padding-right: 10px;
}
div {
    color: #ffffff
}
.container {

    display: flex;
    background-color:#000000;
}
.socialbuttons {
  display: flex;
  align-items: flex-start;
}
body {
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Titillium Web', sans-serif;
    background-color:#000000;
    color: whitesmoke
  }

  p {
    color: whitesmoke;
  }

  img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: $navbar-padding-y $navbar-padding-x;
  }
